<div class="min-h-full flex">
  <div
    class="flex-1 mx-auto flex flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24"
  >
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <img
          class="h-12 w-auto"
          src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
          alt="Workflow"
        />
        <h2 class="mt-6 text-3xl font-extrabold text-gray-900">
          Kyçuni në llogarinë tuaj
        </h2>
      </div>

      <div class="mt-8">
        <div>
          <div>
            <div class="mt-6 relative">
              <div
                class="absolute inset-0 flex items-center"
                aria-hidden="true"
              >
                <div class="w-full border-t border-gray-300"></div>
              </div>
              <div class="relative flex justify-center text-sm">
                <span class="px-2 bg-white text-gray-500"> </span>
              </div>
            </div>
          </div>

          <div class="mt-6">
            <form action="#" class="space-y-6" [formGroup]="loginForm">
              <div>
                <label
                  for="username"
                  class="block text-sm font-medium text-gray-700"
                >
                  Email
                </label>
                <div class="mt-1">
                  <input
                    id="username"
                    placeholder="Shkruani username tuaj..."
                    formControlName="username"
                    name="username"
                    type="username"
                    autocomplete="username"
                    required
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                </div>
                <div
                  class="text-red-500 text-sm mt-2"
                  *ngIf="
                    loginForm.get('username')?.touched &&
                    loginForm.get('username')?.invalid
                  "
                >
                  Plotësoni fjalëkalimin saktë!
                </div>
              </div>

              <div class="space-y-1">
                <label
                  for="password"
                  class="block text-sm font-medium text-gray-700"
                >
                  Fjalëkalimi
                </label>
                <div class="mt-1">
                  <input
                    id="password"
                    placeholder="Shkruani fjalëkalimin tuaj..."
                    formControlName="password"
                    name="password"
                    type="password"
                    autocomplete="current-password"
                    required
                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                  />
                </div>
                <div
                  class="text-red-500 text-sm mt-2"
                  *ngIf="
                    loginForm.get('passowrd')?.touched &&
                    loginForm.get('passowrd')?.invalid
                  "
                >
                  Plotësoni fushën më lartë!
                </div>
              </div>

              <div class="flex items-center justify-between">
                <div class="text-sm">
                  <a
                    routerLink="/register"
                    class="font-medium text-indigo-600 hover:text-indigo-500"
                  >
                    Nuk jeni regjistruar?
                  </a>
                </div>
              </div>
<div>
  <button type="submit" (click)="login()" [class]="
              (loginForm.valid ? '' : 'opacity-40 cursor-not-allowed ') +
              'w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500'
            ">
            <div>
              <span *ngIf="hideLogin">
                Kyçuni
              </span>
              <span *ngIf="loadingValue">
                <svg class="w-5 h-5 mr-3 -ml-1 text-white animate-spin" xmlns="http://www.w3.org/2000/svg" fill="none"
                  viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor"
                    d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                  </path>
                </svg>
              </span>
            </div>

          </button>
</div>
              <!-- <div>
                <button
                  (click)="login()"
                  type="submit"
                  class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                >
                  Kyçuni
                </button>
              </div> -->
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
